<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
   <body>
      
          <%- include('partials/header') %>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default" id="about-panel">
                  <div class="panel-body">
                    <img src="/assets/images/IMG_1435.jpg" id="about-pic">
                    <h1 id="about-page-panel-headline">Meet the Baker</h1>
                    <p>Carrot cake dessert oat cake chocolate cake caramels tart marshmallow pie. Pudding topping halvah jelly beans soufflé apple pie sweet roll cheesecake cotton candy. Powder sweet roll jelly-o powder. Cotton candy chocolate ice cream gummies gummies marzipan donut croissant. Jelly beans fruitcake apple pie oat cake lemon drops tiramisu. Wafer lollipop macaroon bear claw pastry cheesecake tart tootsie roll. Chocolate bar gummies croissant soufflé danish candy. Sugar plum oat cake candy biscuit jelly sugar plum sesame snaps gingerbread danish. Tootsie roll wafer muffin. Dessert topping gummi bears bear claw marzipan cheesecake liquorice croissant. Apple pie gummies icing chocolate bar. Marzipan cookie danish lollipop. Chupa chups liquorice dessert cake cupcake toffee. Croissant sweet jelly beans sugar plum cupcake.
                    Jelly beans dragée bear claw sesame snaps sweet wafer. Dessert pie caramels candy canes biscuit sugar plum soufflé cake. Jujubes bonbon cupcake dragée oat cake cake. Liquorice dragée macaroon croissant carrot cake croissant. Apple pie ice cream sweet marshmallow dragée gingerbread powder sugar plum jelly. Cookie wafer caramels donut. Topping jelly gingerbread tart wafer powder. Dragée sesame snaps lemon drops tart cake jelly-o soufflé muffin. Icing halvah tart jelly-o oat cake. Fruitcake muffin sugar plum gummies biscuit candy canes donut chupa chups pie. Caramels caramels lollipop gummi bears cheesecake dragée macaroon cotton candy pie. Tiramisu wafer jelly chocolate biscuit sweet sesame snaps. Jelly beans cotton candy muffin soufflé liquorice cotton candy jelly chocolate bar cheesecake.
                    Candy canes chocolate cake wafer sugar plum toffee bear claw jelly beans brownie. Croissant cupcake icing soufflé. Sweet lollipop carrot cake. Apple pie caramels powder halvah muffin. Muffin danish dessert cake liquorice danish candy canes. Gummi bears sesame snaps sweet pastry cheesecake jelly beans liquorice sesame snaps toffee. Apple pie gummies ice cream bonbon marzipan wafer jelly oat cake bear claw. Sweet roll biscuit brownie soufflé lemon drops cheesecake oat cake halvah cookie. Cotton candy tart sugar plum macaroon sugar plum soufflé cookie. Dragée pudding cake dessert chocolate bar tiramisu soufflé cheesecake pudding. Marzipan apple pie jelly jelly beans cake powder cookie. Wafer donut cotton candy pie. Jelly beans jelly-o dragée lollipop toffee candy canes jujubes. Sesame snaps candy canes lemon drops pastry cookie.
                    Oat cake sweet roll jelly-o wafer sesame snaps liquorice jelly beans powder cupcake. Marzipan lemon drops dragée bonbon jujubes bonbon. Apple pie pie lollipop dragée jelly-o chocolate pastry cookie cotton candy. Gummi bears candy lemon drops gummies apple pie lollipop donut gummi bears danish. Candy pastry sesame snaps icing gingerbread tiramisu. Chocolate candy canes macaroon donut marzipan topping muffin cheesecake. Fruitcake donut gingerbread cake fruitcake apple pie. Danish toffee gummies muffin chocolate lemon drops toffee icing powder. Jujubes sugar plum soufflé biscuit sweet roll cake. Lollipop icing marshmallow cheesecake candy canes. Ice cream biscuit sugar plum jelly-o cheesecake caramels pastry marzipan. Tart cake tart gummies sugar plum marshmallow pie. Donut sweet roll marzipan liquorice topping pie. Dragée pastry macaroon gummi bears.
                    Marzipan chocolate bar danish danish. Cookie chupa chups croissant lollipop topping cotton candy candy canes. Pudding icing ice cream donut cheesecake carrot cake. Sweet roll toffee toffee candy tootsie roll topping sweet roll chocolate. Icing topping tootsie roll jelly beans ice cream wafer. Chocolate cake tootsie roll muffin liquorice jelly icing. Danish cake tootsie roll. Chupa chups cake croissant fruitcake chocolate caramels cake sweet brownie. Donut chocolate cake topping lollipop biscuit powder. Topping marzipan chupa chups tart topping powder. Bear claw tart pastry fruitcake wafer bonbon marzipan lemon drops liquorice. Biscuit pastry sugar plum.</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
   </body>
</html>
