<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
            <div class="header">
                <img src="/assets/images/smb.png" id='smb'>
                    <ul>
                        <li id='nav-top1'><a href='/about'> About the Momma</a> |</li>
                        <li id='nav-top2'><a href='/order'> Goodies</a> </li>
                        <li id='nav-top3'><a href='/recommendations'>Recommendations</a> | </li>
                        <li id='nav-top4'><a href='/contact'>Contact</a> </li>
                    </ul>
            </div>
          <div class="userAccount">
            <label><b>Username</b></label>

          </div>

              <div class="cart">
                <img src="assets/images/____" id="cart">

              </div>


                  <div class="aboutDescription">

                              <p></p>

                  </div>

   </body>
</html>
