<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="carousel-panel">
                        <div class="content-area">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/assets/images/carousel-images/girls.jpg" class="carousel-img">
                                    </div>
                                    <div class="item">
                                        <img src="/assets/images/carousel-images/IMG_1435.jpg" class="carousel-img">
                                    </div>
                                    <div class="item">
                                        <img src="/assets/images/carousel-images/doughnuts.jpg" class="carousel-img">
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default" id="about-panel">
                        <div class="panel-body">
                            <h1 id="about-panel-title">Sweet Momma B's Founder</h1>
                            <p>
                                Lollipop jelly-o ice cream biscuit caramels. Gummies lemon drops cake jelly beans bear claw chocolate cake gummies gummi bears chocolate bar. Topping chupa chups sweet roll muffin croissant sweet. Tootsie roll dragée tootsie roll caramels pie powder bear claw. Tart jelly beans gingerbread cotton candy. Apple pie muffin donut cupcake chocolate cake. Wafer halvah gummies ice cream. Icing topping biscuit candy. Halvah sesame snaps gummies muffin bear claw muffin tiramisu dragée jelly-o. Chupa chups pudding jelly-o marzipan dragée dragée pie. Topping bonbon cupcake tootsie roll wafer. Jelly-o jujubes chupa chups cookie chocolate sweet. Chocolate bar tart danish pastry liquorice. Apple pie tart jelly beans. Cotton candy tart liquorice cake pudding ice cream cupcake. Chocolate jelly beans croissant jelly pudding gingerbread. Cake biscuit liquorice marshmallow macaroon cupcake. Candy canes candy soufflé fruitcake chocolate jelly sugar plum apple pie. Marshmallow sweet roll donut dessert halvah dragée. Chocolate bar candy pastry bear claw danish apple pie sesame snaps marshmallow chocolate bar. Pie jelly donut chupa chups. Soufflé soufflé tootsie roll caramels tootsie roll wafer. Candy ice cream wafer cookie icing dessert soufflé jujubes wafer. Powder danish croissant. Toffee caramels apple pie tootsie roll powder lemon drops tiramisu tiramisu. Jelly-o brownie ice cream tart cookie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/javascript/app.js"></script>
</body>

</html>