<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                        <div class="content-area">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/assets/images/carousel-images/IMG_1435.jpg" class="carousel-img">
                                    </div>
                                    <div class="item">
                                        <img src="/assets/images/carousel-images/girls.jpg" class="carousel-img">
                                    </div>
                                    <div class="item">
                                        <img src="/assets/images/smb-kids-1.jpg" class="carousel-img">
                                    </div>
                                    <div class="item">
                                        <img src="/assets/images/smb-cookies.jpg" class="carousel-img">
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default" id="about-panel">
                        <div class="panel-body">
                            <h1 id="about-panel-title">About the Momma</h1>
                            <p id='bio'>
                                Hi, I am Becca, the founder and owner of Sweet Momma Bs. I am often joined in the kitchen by my two adorable bakers-in-training, Sophia and Madeline. Sophia is the reason I started baking - I wanted to be the mom with the best chocolate chip cookies (they are pretty darn good). My adorable husband and adoring dog are my biggest fans. 
                                <br> <br>
                                My passion for baked goods comes from my deep, real love of chocolate. The way it smells, tastes, looks and melts is amazing. I am a firm believer that looks should ever be valued more than taste. My goodies are made with love, passion and dedication to true taste, flavors and textures. And chocolate, if I can sneak it in
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/javascript/app.js"></script>
</body>

</html>