<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
    <%- include('partials/header') %>


            <div class="cart">
                <% order = JSON.parse(order) %>
                <ul>
                <% for (var i in order) { %>
                    <li><%=order[i]%></li>
                <% } %>
                </ul>
                <form action="/api/order/checkout" method="put">
                    <input type="submit" value="Checkout" />
                </form>
            </div>
    </body>
</html>