<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<img src="/assets/images/smb.png" id='login-logo'height="200px">

<body class="firstPage">
    <div class="loginForm">
        <form action="/account/create" method="post">
           <input type="text" placeholder="Username" name="username" id="createUsername">
           <br>
           <input type="text" placeholder="Password" name="password"id="createPassword">
           <br>
           <input type="text" placeholder="Enter Name" name="name" id="inputName">
           <br>
           <input type="email" placeholder="Enter Email" name="email" id="inputEmail">
           <br>
           <input type="submit" value="Create Account"id="create-btn"></input>
        </form>
        <% if(message.error) { %>
            <p>
                <%=message.error%>
            </p>
            <% } %>
    </div>
    <script src="assets/javascript/app.js"></script>
</body>

</html>
