<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
  <body>
      <div class="loginForm">
        <img src="assets/Images/_____" id="smb">
      <form action="/account/create" method="post">

        Username: <input type="text" placeholder="Username" name="username">
        Password: <input type="text" placeholder="Password" name="password">
        Name: <input type="text" placeholder="Name" name="name">
        Email: <input type="email" placeholder="Email" name="email">
        <button type="button" id="login-btn">Create Account</button>
      </form>
    </div>
  </body>


</html>
