<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class=col-lg-12>
                    <h1 id="index-pg-h1">Where Food Tastes Like Home</h1>
                    <h3 id="index-pg-h3"> Taking orders for the Boone/Watauga area now!</h3>
                    <img id="index-pg-img" src="assets/images/baked_breads.png">
                </div>
            </div>
        </div>
        <script src="assets/javascript/app.js"></script>
</body>

</html>