<!DOCTYPE html>
<html>

<head>
    <title>
        Sweet Momma Bs
    </title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/header') %>
        <div class='filling'>
            A-coodle-doodle-doo. A-coodle-doodle-doo. Did Ted make an appointment? No. Well then Ted can GET THE HELL OUT OF THIS OFFICE! YOU GET THE HELL OUT! No, I was ashamed to be SEEN with you. I like being WITH you. If you don't start pulling your weight around here its going to be shape up, or…ship up. Mr. Zuckerkorn, you've been warned about touching. You said spanking.
            <br>
            <br> I don't want no part of yo tight-ass country-club, ya freak bitch! Heyyyy uncle father Oscar. You are a worse psychiatrist than you are a son-in-law and you will never get work as an actor because you have no talent. I'm foolish and I'm funny and I'm needy. Am I needy? Are you sure I'm not needy? 'Cause I feel needy sometimes.
            <br>
            <br> Saw this on the highway and almost blue myself. Hop on? Oh…yeah…the guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on!
            <br>
            <br> A million [bleep]ing diamonds! Heyyyyyy, Uncle Father Oscar. I am getting rid of this thing. It has caused me nothing but pride and self-respect. I need a fake passport, preferably to France…I like the way they think. Hola, is Rosa still alive? No? Well this is not my day. Her lawyers are claiming the seal is worth $250,000. And that's not even including Buster's Swatch.
            <br>
            <br> It's one banana Michael, what could it cost, ten dollars? Oh…yeah…the guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on! There's a new daddy in town. A discipline daddy.
        </div>
        <footer>
            Website by <a href="http://github.com/armouser"> Adam Mouser </a>
        </footer>
        <script src="assets/javascript/app.js"></script>
</body>

</html>