<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
    <%- include('partials/header') %>

        <div class="profile">
          <label><b>Username</b></label>
              Name: <input type="text" name="Name" value="">
              Email: <input type="text" name="Email" value="">
        </div>

        <div class="pastorders">
          - Orders in the past
          <a href="orders">
            <span>
            </span>
          </a>
        </div>
        <div class="pastRec">
          - Recommendations
          <a href="rec">
            <span>
            </span>
          </a>
        </div>
