<!DOCTYPE html>
<html>
    <head>
        <title>
            Sweet Momma Bs
        </title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
    <%- include('partials/header') %>

        <div class="userAccount">
          <label><b>Username</b></label>
        </div>

            <div class="cart">
              <img src="assets/images/____" id="cart">

            </div>
            <% if (!user) { %>
              <p>You must log in to write recommendations.</p>
              <a href="../login">Login</a>
              <a href="../create">Or Create an Account</a>
            <% } else { %>
              <div id="recommendationBox">
                <img src="assets/images/______">
                <form action="/api/save-recommendation" method="post">
                <input type="text" placeholder="description" name="text">
                  <button type="submit">Submit Your Own</button>
                </form>
              <% } %>

      </body>

</html>
